<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
 
    <!-- Nome do sistema -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/inicio">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-hand-holding-usd"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Mesadinha</div>
    </a>
 
    <!-- Divisão -->
    <hr class="sidebar-divider my-0">

    <!-- Início -->
    <li class="nav-item active">
        <a class="nav-link" href="/inicio">
            <i class="fas fa-home"></i>
            <span>Início</span>
        </a>
    </li>

    <!-- Divisão -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Cadastros
    </div>

    <!-- Solicitações -->
    <li class="nav-item active">
        <a class="nav-link" href="/usuarios/dependentes">
            <i class="fas fa-child"></i>
            <span>Filhos</span>
        </a>
    </li>

    <!-- Solicitações -->
    <li class="nav-item active">
        <a class="nav-link" href="/usuarios/responsaveis">
            <i class="fas fa-users"></i>
            <span>Outros responsáveis</span>
        </a>
    </li>

    <!-- Divisão -->
    <hr class="sidebar-divider">

    <!-- Solicitações -->
    <li class="nav-item active">
        <a class="nav-link" href="/solicitacoes_pai/admin">
            <i class="fas fa-dollar-sign"></i>
            <span>Solicitações de verba</span>
        </a>
    </li>

    <!-- Divisão -->
    <hr class="sidebar-divider">

    <!-- Histórico -->
    <li class="nav-item active">
        <a class="nav-link" href="/historico/historico_admin">
            <i class="fas fa-history"></i>
            <span>Histórico</span>
        </a>
    </li>

    <!-- Divisão -->
    <hr class="sidebar-divider">

    <!-- Categorias -->
    <li class="nav-item active">
        <a class="nav-link" href="/categorias/admin">
            <i class="fas fa-list"></i>
            <span>Categorias</span>
        </a>
    </li>

    <!-- Ocultar/mostrar menu -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>