{{#if success_msg}}
<div class="text-center">
    <div class="alert alert-success">{{success_msg}}</div>
</div>
{{/if}}
 
{{#if error_msg}}
<div class="text-center">
    <div class="alert alert-danger">{{error_msg}}</div>
</div>
{{/if}}

{{#if esqueceu_senha}}
<div class="text-center">
    <div class="alert alert-success">{{esqueceu_senha}}</div>
<div class="text-center">
{{/if}}
