<!DOCTYPE html>
<html lang="en">
<head>
    <title>Mesadinha</title>

	<meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Login -->	
    <link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/fonts/font-awesome-4.7.0/css/font-awesome.css">
	<link rel="stylesheet" type="text/css" href="/vendor/animate/animate.css">
	<link rel="stylesheet" type="text/css" href="/vendor/select2/select2.css">
	<link rel="stylesheet" type="text/css" href="/css/util.css">
	<link rel="stylesheet" type="text/css" href="/css/main.css">

    <!-- Página Inicial -->	
    <link rel="stylesheet" type="text/css" href="/vendor/fontawesome-free/css/all.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="/css/sb-admin-2.css">
    
    <!-- Bootstrap core JavaScript-->
    <script src="/vendor/jquery/jquery.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.js"></script>

    <!-- Custom styles for this page -->
    <link rel="stylesheet" type="text/css" href="/vendor/datatables/dataTables.bootstrap4.min.css">

</head>
<body>
    <div id="wrapper"> 
        
        {{{body}}}
  
        <!-- Login -->	
        <script src="vendor/jquery/jquery-3.2.1.min.js"></script>
        <script src="vendor/bootstrap/js/popper.js"></script>
        <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
        <script src="vendor/select2/select2.min.js"></script>
        <script src="vendor/tilt/tilt.jquery.min.js"></script>
        <script >
            $('.js-tilt').tilt({
                scale: 1.1
            })
        </script>
        <script src="js/main.js"></script>

        <!-- Validar campos -->
        <script type="text/javascript" src="/js/jquery-3.4.1.min.js"></script>
        <script type="text/javascript" src="/js/jquery.mask.min.js"></script>

        <!-- Custom styles for this page -->
        <link rel="stylesheet" type="text/css" href="/vendor/datatables/dataTables.bootstrap4.min.css">

        <!-- JavaScript do plugin principal -->
        <script src="/vendor/jquery-easing/jquery.easing.js"></script>

        <!-- Scripts personalizados de todas as páginas -->
        <script src="/js/sb-admin-2.js"></script>
 
        <!-- Tabelas -->
        <script src="vendor/datatables/jquery.dataTables.min.js"></script>
        <script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>
        <script src="js/demo/datatables-demo.js"></script>

    </div>
</body>
</html>