{{>_menulateral_dependente}} 

<div id="content-wrapper" class="d-flex flex-column">

    <div id="content">

        {{>_navbar_dependente_inicio}}

        {{>_msg}}

        <div class="container-fluid">

            <div class="card-header py-3">
                <h4 class="m-0 font-weight-bold text-primary">Bem-Vindo!</h4>
            </div>

            <div class="card shadow mb-2"></div>
                <br>

            <!-- Content Row -->
            <div class="row">

                <!-- Fazer novo pedido -->
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-primary shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Quer fazer um novo pedido de dinheiro?</div>
                                    <br>
                                    <a href="/solicitacoes_filho/addsolicitacao">
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">Clique para pedir</div>
                                    </a>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Seja bonzinho com o papai -->
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-success shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Seja bonzinho com o papai!</div>
                                    <br>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800">Quem sabe ele não libera mais a graninha?</div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-smile-wink fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Guarde seu dinheiro -->
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-info shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Guarde seu dinheirinho!</div>
                                    <br>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800">Não gaste tudo de uma vez!</div>    
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-piggy-bank fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Peça com antecedência -->
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-warning shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Peça o dinheiro antes!</div>
                                    <br>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800">Não deixe pra ultima hora!</div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-clock fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Rolagem para o topo-->
    <a class="scroll-to-top rounded" href="#content-wrapper">
        <i class="fas fa-angle-up"></i>
    </a>

</div>