{{>_menulateral_admin}}  

<div id="content-wrapper" class="d-flex flex-column">
    
    <div id="content">

        {{>_navbar_admin}}
        
        {{>_msg}}

        <div class="container-fluid">

            <div class="card-header py-3">
                <h4 class="m-0 font-weight-bold text-primary">Minha Conta</h4>
            </div>

            {{#each usuario}}
            
                    <br>
                <label for="nome" class="mb-2 text-gray-900">Nome:</label>
                    <br>
                    <label class="mb-2 text-gray-900">{{nome}}</label>
                    <br><br>
                <label for="email" class="mb-2 text-gray-900">Email:</label>
                    <br>
                    <label class="mb-2 text-gray-900">{{email}}</label>
                    <br><br>

                <a href="/usuarios/editaradmin/{{id}}">
                    <button class="btn btn-success">Editar conta</button>
                </a>

                <br><br>
                <form method="POST" onsubmit="return confirm('Atenção! Todos os dados e solicitações serão excluídos! Deseja realmente encerrar sua conta?'); return false" action="/usuarios/deletaradmin">
                    <input type="hidden" name="id" value="{{id}}">
                    <button type="submit" class="btn btn-danger">Encerrar conta</button>
                </form>

            {{/each}}
                      
        </div>
    </div>
    
    <!-- Rolagem para o topo-->
    <a class="scroll-to-top rounded" href="#content-wrapper">
        <i class="fas fa-angle-up"></i>
    </a>

    <footer class="sticky-footer bg-white">
        <div class="container my-auto">
            <div class="copyright text-center my-auto">
                <span>Copyright &copy; Your Website 2019</span>
            </div>
        </div>
    </footer>

</div>