{{>_menulateral_admin}}  

<div id="content-wrapper" class="d-flex flex-column">
    
    <div id="content">

        {{>_navbar_admin}}
        
        {{>_msg}}

        <div class="container-fluid">

            <div class="card-header py-3">
                <h4 class="m-0 font-weight-bold text-primary">Outros Responsáveis</h4>
            </div>

            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <a href="/usuarios/addresponsavel" class="btn btn-success btn-icon-split">
                        <span class="icon text-white-50">
                        <i>+</i>
                        </span>
                        <span class="text">Novo</span>
                    </a>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Nome</th>
                                    <th>Email</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <!--<tfoot>
                                <tr>
                                    <th>Nome</th>
                                    <th>Email</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </tfoot>-->
                            <tbody>
                                {{#each usuario}}
                                <tr>
                                    <td>{{nome}}</td> 
                                    <td>{{email}}</td>

                                    <td>
                                        <a href="/usuarios/editarresponsavel/{{id}}"><button class="btn btn-success"><i class="fas fa-edit"></i></button></a>
                                    </td>
                                    <td>
                                        <form method="POST" onsubmit="return confirm('Deseja realmente excluir?'); return false" action="/usuarios/deletarresponsavel">
                                            <input type="hidden" name="id" value="{{id}}">
                                            <button type="submit" class="btn btn-danger"><i class="fas fa-trash"></i></button>
                                        </form>
                                    </td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Rolagem para o topo-->
    <a class="scroll-to-top rounded" href="#content-wrapper">
        <i class="fas fa-angle-up"></i>
    </a>

    <footer class="sticky-footer bg-white">
        <div class="container my-auto">
            <div class="copyright text-center my-auto">
                <span>Copyright &copy; Your Website 2019</span>
            </div>
        </div>
    </footer>

</div>